body, .jasmine_html-reporter, .jasmine_html-reporter .stack-trace, .jasmine_html-reporter .bar.menu {
    background-color: #1d1f21;
}
.jasmine_html-reporter .bar.menu a, .jasmine_html-reporter .result-message, .jasmine_html-reporter .stack-trace,
    .jasmine_html-reporter .suite a {
  color: #7f8283;
}
.jasmine_html-reporter .stack-trace {
  border-color: #7f8283;
}
.jasmine_html-reporter .bar.menu {
  color: #ededed;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background: #3F4040;
  border-radius: 5px;
}
